site_name: Flotiq Developer Documentation
site_url: https://flotiq.com/docs/
#repo_url: https://github.com/flotiq/flotiq-docs/
edit_uri: https://github.com/flotiq/flotiq-docs/edit/master/docs/
copyright: Copyright &copy; 2019 onwards <a target="_blank" href="https://www.flotiq.com/">Flotiq<a>
dev_addr: 0.0.0.0:4000
theme:
     name: material
     logo: /docs/API/images/f.png
     favicon: /docs/API/images/favicon-32x32.png
     custom_dir: theme
     language: en
     palette:

         # Palette toggle for light mode
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: '#0083FC'
          toggle:
            icon: material/brightness-7
            name: Switch to dark mode

        # Palette toggle for dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: custom
          accent: custom
          toggle:
            icon: material/brightness-4
            name: Switch to light mode
     features:
       - navigation.top
       - content.action.edit
       - content.action.view
       - search.suggest
       - search.highlight
       - content.code.copy

plugins:
  - search
  - awesome-pages
  - git-revision-date-localized:
      fallback_to_build_date: true

extra_css:
  - https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.1/build/styles/default.min.css
  - https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.1/build/styles/nord.min.css
  - https://flotiq-form-generator-styles.s3.amazonaws.com/styles.css
  - 'css/flotiq.css'
    #  - https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.min.css

markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - meta
  - toc:
      permalink: true
      title: On this page
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - theme/.icons
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes

extra_javascript:
  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js
  - https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.1/build/highlight.min.js
  - https://unpkg.com/was-it-helpful@latest/dist/build.js
  - 'js/flotiq.js'
    #- https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.min.js
    #- https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/mode/javascript/javascript.min.js

extra:
  analytics:
    provider: custom
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.com/invite/FwXcHnX
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UC4wpV-D9mIt1JjN_g_iyXXw
    - icon: custom/twitter
      link: https://twitter.com/flotiq
    - icon: fontawesome/brands/github-alt
      link: https://github.com/flotiq
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/flotiq/


nav:
  - 'Home': index.md
  - API:
    - 'Getting Started with API': API/get-started.md
    - 'API access & scoped keys': API/index.md
    - 'Working with Content Types':
      - 'Overview': API/content-types.md
      - 'Creating new Content Types': API/content-type/creating-ctd.md
      - 'Updating Content Types': API/content-type/updating-ctd.md
      - 'Listing Content Types': API/content-type/listing-ctd.md
      - 'Getting single Content Type': API/content-type/getting-ctd.md
      - 'Deleting Content Type': API/content-type/deleting-ctd.md
    - 'Working with Content Objects':
      - 'Overview': API/content-objects.md
      - 'Creating new Content Objects': API/content-type/creating-co.md
      - 'Updating Content Objects': API/content-type/updating-co.md
      - 'Listing Content Objects': API/content-type/listing-co.md
      - 'Getting single Content Object': API/content-type/getting-co.md
      - 'Deleting Content Objects': API/content-type/deleting-co.md
      - 'Listing deleted Content Objects': API/content-type/listing-deleted-co.md
    - 'Dynamic Content API': API/dynamic-content-api.md
    - 'GraphQL': API/graph-ql.md
    - 'Generating SDKs':
      - 'Overview': API/generate-package.md
      - 'SDK NodeJS': API/generate-package/sdk-nodejs.md
    - 'Open API schema': API/open-api-schema.md
    - 'Full-text search': API/search.md
    - 'Working with media': API/media-library.md
    - 'Workflows': 'API/workflow/content-publishing-workflow.md'
  - Dashboard:
    - 'Overview': panel/index.md
    - 'Content types': panel/content-types.md
    - 'Flotiq Forms': panel/flotiq-forms-add-forms-to-websites.md
    - 'Predefined Content Types': panel/predefined-content-types.md
    - 'Content objects': panel/content-objects.md
    - 'Media library': panel/media-library.md
    - 'Users': panel/users.md
    - 'Webhooks':
      - Overview: panel/webhooks/index.md
      - 'Async CO webhooks': panel/webhooks/async-co-webhook.md
      - 'CTD webhooks': panel/webhooks/ctd-webhook.md
      - 'Async examples': panel/webhooks/examples.md
      - 'Sync webhooks':  panel/webhooks/sync.md
      - 'Sync examples': panel/webhooks/sync-examples.md
    - Plugins:
      - 'Custom Links': panel/Plugins/Custom-links.md
      - 'Gatsby Cloud': panel/Plugins/Gatsby-cloud-integration.md
      - 'Netlify': panel/Plugins/Netlify-integration.md
      - 'Custom Links': panel/Plugins/Custom-links.md
  - CLI:
    - 'Overview': CLI/index.md
    - 'Starting new project with Gatsby and Flotiq': CLI/starting-new-project-gatsby.md
    - 'Starting new project with Next.js and Flotiq': CLI/starting-new-project-nextjs.md
    - 'Migrate WordPress blog content to Flotiq': CLI/wordpress-importer.md
    - 'Migrate content from Contentful to Flotiq': CLI/contentful-importer.md
    - 'Purging data from Flotiq account': CLI/purge.md
    - 'Migrating Flotiq data to and from MS Excel': CLI/excel-data-migration.md
  - Flotiq Universe:
    - 'Overview': Universe/index.md
    - 'Deployment': Universe/deployment.md
    - 'Gatsby': Universe/gatsby.md
    - 'NextJS': Universe/nextjs.md
    - 'Meta-API': Universe/metaapi.md
    - 'Postman': Universe/postman.md
    - 'Scully': Universe/scully.md
    - 'WordPress': Universe/wordpress.md
    - 'Zapier': Universe/zapier.md
#    - 'Netlify': Universe/netlify.md
    - 'Heroku': Universe/heroku.md
  - Deep dives:
    - 'Overview': Deep-Dives/index.md
    - 'Hooking React TodoMVC with Flotiq': Deep-Dives/todomvc-react-headless-cms.md
    - 'Angular 9 with Flotiq SDK': Deep-Dives/angular-headless-cms.md
    - 'Mobile product showcase application': Deep-Dives/mobile-expo-product-showcase.md # TO UPDATE
    - 'Building a blog': Deep-Dives/Building-a-blog-in-3-minutes.md
    - 'Building a contact form': Deep-Dives/Headless-CMS-Contact-Forms.md
    - 'Building a banner rotator': Deep-Dives/building-a-banner-rotator-with-an-admin-interface.md
    - 'Building a store locator': Deep-Dives/storing-location-data-headless-cms.md
    - 'Complex data structures': Deep-Dives/jamstack-recipes-website-complex-data-structures.md
    - 'Importing from WordPress': Deep-Dives/wordpress-import.md
    - 'E-commerce with Snipcart & Gatsby': Deep-Dives/node-js-ecommerce-snipcart-gatsby-demo.md
    - 'Full-text search': Deep-Dives/search-api-deepdive.md
    - 'Multilingual content': Deep-Dives/multilingual-content.md
    - 'Securing JAMstack APIs': Deep-Dives/securing-write-api-access.md
    - 'Meta-API': Deep-Dives/metaapi.md
    - 'Custom domains in Heroku': Deep-Dives/add-a-custom-domain-to-heroku-for-free.md
    - 'Use Netlify, Zapier and Gatsby to instantly deploy your Flotiq content': 'Deep-Dives/netlify-zapier-gatsby-serverless-deployment-pipeline.md'
    - 'Use Next.js, Typescript and OpenAPI with Flotiq content': 'Deep-Dives/nextjs-react-typescript-openapi.md'
    - 'Upload media example app': Deep-Dives/upload-media.md
    - 'Build headless no-code website Divhunt': Deep-Dives/divhunt.md
  - Flotiq Mobile Expo: Flotiq-Mobile-Expo/overview.md
  - FAQ: faq.md
  - 'Contact us': '../contact'
