html {
  scroll-behavior: smooth;
}

.md-grid {
  max-width: 70rem;
}

@media screen and (min-width: 76.25em) {
  .md-sidebar--primary:not([hidden]) ~ .md-content > .md-content__inner,
  [dir=ltr] .md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
    margin-left: 2.5rem;
  }
}

.md-typeset, .md-nav__link{
/*  color: #141046;*/
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857142857143;
  letter-spacing: -0.005em;
}


.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5 {

  font-weight: bold;
}
.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

header.md-header {
  background-color: #141046;
  height: 88px;
  padding: 14px 0;
}

.md-tabs{

}

.md-sidebar__scrollwrap, .md-content {
  border-right: none;
}

.flotiq-button {
  background-color: #0083FC;
  color: white !important;
  padding: 15px;
  margin-top: 20px;
  display: block;
  text-align: center;
  font-weight: bold;
  border-radius: 40px;
}

.center {
  display: block;
  margin: 0 auto;
}

.border {
  border: 1px solid rgba(142, 161, 184, 0.3);
}

.width75 {
  max-width: 75%;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem
}

.inline-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
.width25 {
    width:25%;
  }
  .width50 {
    width:49%;
  }
  .width75 {
    width:75%;
  }
}

.margin20 {
  margin-right: 20px;
}

.mt5 {
  margin-top: 5px;
}

.button-center-vertical {
  vertical-align: middle;
}

pre::before {
    /*content:'<div class="jsx-3358644486 window-controls"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14"><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="6" cy="6" r="6" fill="#FF5F56" stroke="#E0443E" stroke-width=".5"></circle><circle cx="26" cy="6" r="6" fill="#FFBD2E" stroke="#DEA123" stroke-width=".5"></circle><circle cx="46" cy="6" r="6" fill="#27C93F" stroke="#1AAB29" stroke-width=".5"></circle></g></svg><div class="jsx-3358644486 window-title-container"></div></div>';
    */padding: 10px;
}

[data-md-color-scheme="slate"] {
  --md-accent-fg-color: #8597fe;
  --md-primary-fg-color: #6070c7;
  .md-typeset h1,
  .md-typeset h2,
  .md-typeset h3,
  .md-typeset h4,
  .md-typeset h5 {
    color: #e9ebfc;
  }

  #disqus_thread {
    color: #e9ebfc;
    padding: 20px;
    background: white;
    border-radius: 15px;
  }

  .md-search-result__link:focus,
  .md-search-result__link:hover,
  .md-search-result__more summary:focus,
  .md-search-result__more summary:hover,
  .md-search-result__meta {
    background-color: hsl(232, 15%, 26%);
  }

  .md-search__input {
    background-color: hsl(232, 15%, 36%);
    color: #e9ebfc;
  }

  .md-typeset table:not([class]) th {
    background-color: #2f3c4b;
  }
}

  /*
  /////////////////
  // Code Blocks //
  /////////////////
  */

  /*
  line number
  */
  .linenos {
    color: #f5f5f5 !important;
    background-color: #313131 !important;
  }

  .md-clipboard:after {
    color: #c2c2c2;
  }

  .md-dialog__inner.md-typeset {
    color:#c2c2c2;
  }

  /*
  scroll bar size
  */

  .md-typeset .codehilite::-webkit-scrollbar {
    height: 1rem !important;
  }


  .md-typeset summary:after {
    /*color: #0083FC;*/
  }

  .md-typeset .admonition.example > .admonition-title,
  .md-typeset .admonition.example > summary,
  .md-typeset details.example > .admonition-title,
  .md-typeset details.example > summary {
    /*background-color: rgba(154, 109, 255, 0.21);*/
  }

  .md-nav__link[data-md-state='blur'] {
  /*  color: #aec0ff;*/
  }

  /*
  ///////////////
  // Footnote //
  /////////////
  */

  .md-typeset .footnote {
    /*color: #888484 !important;*/
  }

  .md-typeset .footnote-ref:before {
   /* border-color: #888484 !important;*/
  }

.md-typeset code.hljs {
  background-color: #2e3440;
  color: #d8dee9;
}

.md-clipboard svg {
  color: #4C9BA6;
}

.md-clipboard svg:hover {
  color: #0083FC;
}

.video_container {
  position: relative;
  display: block;
  height: auto;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video_container > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.flotiq-form .mat-fab.mat-primary, .flotiq-form .mat-flat-button.mat-primary, .flotiq-form .mat-mini-fab.mat-primary, .flotiq-form .mat-raised-button.mat-primary[type="submit"] {
  background-color: #0083FC;
}

.flotiq-form .mat-input-element[matinput] {
  caret-color: #0083FC;
}

.flotiq-form .mat-form-field.mat-focused.mat-primary .mat-form-field-label {
  color: #0083FC;
}

.flotiq-form .mat-form-field.mat-focused.mat-primary .mat-form-field-ripple {
  background-color: #0083FC;
}

.pricing-info {
  font-size: 16px;
  color: #dfb81c;
  cursor: help;
}

.md-header__inner {
  justify-content: space-between;
}

.nav-additional-element {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  margin-left: 40px;
}

.nav-button {
  background: #0083FC;
  border-radius: 40px;
  padding: 10px 20px;
}

.nav-badge {
  display: none;
}

a.md-nav__link--active {
  scroll-margin: 50vh;
}

.md-header__logo {
  margin: .2rem;
  padding: .4rem;
}

.md-typeset table:not([class]) {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid rgba(142, 161, 184, 0.3);
}

.md-typeset table:not([class]) th {
  background-color: #8EA1B8;
}

.md-typeset .admonition, .md-typeset details {
  border-radius: 0;
  box-shadow: none;
  border-top: 1px solid;
  border-top-color: rgba(142, 161, 184, 0.3) !important;
  border-right: 1px solid;
  border-right-color: rgba(142, 161, 184, 0.3) !important;
  border-bottom: 1px solid;
  border-bottom-color: rgba(142, 161, 184, 0.3) !important;
}

.md-footer {
  /* background: white; */
  background: #141046;
  color: #8EA1B8;
}

.md-footer-nav {
  max-width: 46rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.md-footer-meta {
  /* background: white; */
  background: #141046;
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  justify-content: space-between;
}

.md-footer-copyright__highlight {
  color: #8EA1B8;
  text-align: left;
  padding: 0 5px;
}

html .md-footer-meta.md-typeset a {
  color: #8EA1B8;
}

html .md-footer-meta.md-typeset a:hover {
  color: #8EA1B8;
  text-decoration: underline;
}

.md-typeset a {
  color: #0083FC;
}

.md-typeset a:focus, .md-typeset a:hover {
  color: #0083FC;
  text-decoration: underline;
}

.md-footer-social__link svg {
  fill: #8EA1B8;
}

.md-footer__direction, .md-footer__title {
  padding: 0;
  max-width: 100%;
  color: #8EA1B8;
}

.md-footer .md-icon svg {
  display: inline-block;
}

.md-flex__ellipsis {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #0083FC;
}

.md-footer-social {
  flex: 1;
  min-width: 300px;
}

.footer-links {
  padding: 0 5px;
}

li.md-nav__item {
  border-left: 4px solid transparent;
}

li.md-nav__item.md-nav__item--active:not(.md-nav__item--nested) {
  border-left: 4px solid #0083FC;
}

.was-it-helpful-wrapper {
  border: none !important;
  padding: 2em 0 !important;
}

.was-it-helpful-wrapper .give {
  text-align: left !important;
}

.was-it-helpful-wrapper .give__title {
  font-family: Inter, 'sans-serif';
  font-size: 18px !important;
  font-weight: normal !important;
  color: #141046;
}

[data-md-color-scheme="slate"] {
  .was-it-helpful-wrapper .give__title {
    color: white;
  }
  .was-it-helpful-wrapper .give-answers a {
    color: white;
  }
}

.was-it-helpful-wrapper .give-answers a {
  text-transform: none !important;
  font-family: Inter, 'sans-serif';
  font-style: normal;
  font-weight: normal !important;
  font-size: 14px;
  color: #8EA1B8;
  margin-left: 8em;
  margin-right: 0 !important;
  position: relative;
  display: inline-block;
}

.was-it-helpful-wrapper .give-answers a:first-child:before {
  width: 25px;
  height: 25px;
  content: '';
  background: url('thumb_up.png');
  display: inline-block;
  position: relative;
  margin-right: 12px;
}

.was-it-helpful-wrapper .give-answers a:last-child:before {
  width: 25px;
  height: 25px;
  content: '';
  background: url('thumb_down.png');
  display: inline-block;
  position: relative;
  top: 8px;
  margin-right: 12px;
}

.was-it-helpful-wrapper .give-answers__why textarea {
  margin: 0 !important;
}

.was-it-helpful-wrapper .give-answers__why button {
  border-color: #0083FC !important;
  color: #0083FC !important;
  border-radius: 40px !important;
}

.was-it-helpful-wrapper .give-answers__why button:hover {
  background-color: #0083FC !important;
  color: white !important;
}

.md-top {
  background-color: white;
  box-shadow: none;
  color: #0083FC;
}

.md-top:focus, .md-top:hover {
  background-color: #0083FC;
  box-shadow: none;
  color: white;
}

.md-search-result__icon:after {
  width: 0;
}

.md-search-result__link:focus, .md-search-result__link:hover,
.md-search-result__more summary:focus, .md-search-result__more summary:hover {
  background-color: #E9F3FF;
}

.md-search-result__meta {
  background-color: white;
}

.md-typeset pre>code {
  max-height: 250px;
  overflow-y: auto;
  position: relative;
}

.breadcrumbs {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .25px;
  color: #8EA1B8;
  opacity: 0.7;
  padding-bottom: 1em;
}

.breadcrumbs a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .25px;
  color: #8EA1B8;
}

.recommendations-layout {
  display: none !important;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 36px;
  width: unset;
}

@media screen and (min-width: 76.25em) {
  .md-nav__item--nested .md-nav__toggle:checked ~ .md-nav__link .md-nav__icon, .md-nav__item--nested .md-nav__toggle:indeterminate ~ .md-nav__link .md-nav__icon {
    color: #0083FC;
  }
}

@media screen and (max-width: 76.1875em) {
  .md-header__button.md-logo {
    display: block;
  }

  .nav-badge {
    margin-top: 1rem;
    display: block;
    max-height: 21px;
  }

  header.md-header {
    height: 60px;
    padding: 6px 0;
  }

  .nav-additional-element {
    display: none;
  }

  .width75 {
    max-width: 100%;
  }

  .md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 30px;
    width: unset;
  }
}

@media screen and (max-width: 40em) {
  .was-it-helpful-wrapper .give {
    text-align: center !important;
  }

  .was-it-helpful-wrapper .give-answers {
    display: block !important;
    text-align: center !important;
    margin-top: 1em !important;
    /*margin-left: 19px !important;*/
  }

  .was-it-helpful-wrapper .give-answers a {
    margin-left: 2em !important;
    margin-right: 2em !important;
  }

  .was-it-helpful-wrapper .give-answers__why textarea {
    margin: 0 auto !important;
    max-width: 90vw;
  }
}

@media screen and (max-width: 30em) {
  .md-logo.desktop {
    display: none;
  }
  .md-logo.mobile {
    display: inline-block;
  }
}

@media screen and (min-width: 30em) {
  .md-logo.mobile {
    display: none;
  }
  .md-logo.desktop {
    display: inline-block;
  }
}

@media screen and (min-width: 40em) {
  .md-footer-copyright__highlight {
    text-align: right;
  }
}

@media screen and (min-width: 60em) {
  .md-search__inner {
    width: 25rem;
  }
  .md-search__input {
    background-color: #E9F3FF;
    color: #8EA1B8;
    border-radius: .1rem;
  }

  .md-search__input::-webkit-input-placeholder { /* Edge */
    color: #8EA1B8;
  }

  .md-search__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8EA1B8;
  }

  .md-search__input::placeholder {
    color: #8EA1B8;
  }

  .md-search__input+.md-search__icon {
    color: #0083FC;
  }
}

.highlight :is(.na,.nv,.vc,.vg,.vi,.o,.ow),
.highlight .p {
  color: white;
}

.highlight .hljs.lua .p {
  color: #3f6ec6;
}

.highlight .hljs.lua :is(.na,.nv,.vc,.vg,.vi,.o,.ow){
  color: #88c0d0;
}

.md-nav--primary .md-nav__title{
  box-shadow: none;
}

.fq-docs-property-block .md-typeset__table {
  display: block;
}

.fq-docs-property-block table {
  width: 100%;
  display: table !important;
}

.fq-docs-property-block table th:nth-child(1),
.fq-docs-property-block table td:nth-child(1) {
  width: 25%;
}
.fq-docs-property-block table th:nth-child(2),
.fq-docs-property-block table td:nth-child(2) {
  width: 25%;
}
.fq-docs-property-block table th:nth-child(3),
.fq-docs-property-block table td:nth-child(3) {
  width: 50%;
}

/* Section header scroll offset overrides */
.md-typeset h1:target, .md-typeset h2:target, .md-typeset h3:target {
  --md-scroll-offset: -1rem;
}

/*
!* Scroll to top button visibility improvements *!

body:not(.md--top) .md-icon--top {
  opacity: 1 !important;
}
*/
