.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

header.md-header {
  background-image: linear-gradient(45deg, #4C9BA6, #86CEA6);
}
.md-tabs{
    background:linear-gradient(45deg, #4c9ba6, #86cea6);
}

.center {
  display: block;
  margin: 0 auto;
}

.border {
  border: 1px solid #4c9ba6;
}

.width75 {
  width:75%;
}

pre::before {
    /*content:'<div class="jsx-3358644486 window-controls"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14"><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="6" cy="6" r="6" fill="#FF5F56" stroke="#E0443E" stroke-width=".5"></circle><circle cx="26" cy="6" r="6" fill="#FFBD2E" stroke="#DEA123" stroke-width=".5"></circle><circle cx="46" cy="6" r="6" fill="#27C93F" stroke="#1AAB29" stroke-width=".5"></circle></g></svg><div class="jsx-3358644486 window-title-container"></div></div>';
    */padding: 10px;
}

  /*
  /////////////////
  // Code Blocks //
  /////////////////
  */
  
  /*
  line number
  */
  .linenos {
    color: #f5f5f5 !important;
    background-color: #313131 !important;
  }
  
  /*
  code block background
  */
  /*.codehilite {*/
  /*  background-color: #44484e !important;*/

  /*
  scroll bar size
  */
  
  .md-typeset .codehilite::-webkit-scrollbar {
    height: 1rem !important;
  }
  
  /*!**/
  /*actual syntax highlighting*/
  /**!*/
  /*.codehilite pre {*/
  /*  color: #fafafa !important;*/
  /*  background-color: transparent !important;*/
  /*}*/
  /*.codehilite .hll {*/
  /*  background-color: #272822 !important;*/
  /*}*/
  /*.codehilite .c {*/
  /*  color: #8a8f98 !important;*/
  /*} !* Comment *!*/
  /*.codehilite .err {*/
  /*  color: #960050 !important;*/
  /*  background-color: #1e0010 !important;*/
  /*} !* Error *!*/
  /*.codehilite .k {*/
  /*  color: #66d9ef !important;*/
  /*} !* Keyword *!*/
  /*.codehilite .l {*/
  /*  color: #ae81ff !important;*/
  /*} !* Literal *!*/
  /*.codehilite .n {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name *!*/
  /*.codehilite .o {*/
  /*  color: #f92672 !important;*/
  /*} !* Operator *!*/
  /*.codehilite .p {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Punctuation *!*/
  /*.codehilite .cm {*/
  /*  color: #8a8f98 !important;*/
  /*} !* Comment.Multiline *!*/
  /*.codehilite .cp {*/
  /*  color: #8a8f98 !important;*/
  /*} !* Comment.Preproc *!*/
  /*.codehilite .c1 {*/
  /*  color: #8a8f98 !important;*/
  /*} !* Comment.Single *!*/
  /*.codehilite .cs {*/
  /*  color: #8a8f98 !important;*/
  /*} !* Comment.Special *!*/
  /*.codehilite .ge {*/
  /*  font-style: italic !important;*/
  /*} !* Generic.Emph *!*/
  /*.codehilite .gs {*/
  /*  font-weight: bold !important;*/
  /*} !* Generic.Strong *!*/
  /*.codehilite .kc {*/
  /*  color: #66d9ef !important;*/
  /*} !* Keyword.Constant *!*/
  /*.codehilite .kd {*/
  /*  color: #66d9ef !important;*/
  /*} !* Keyword.Declaration *!*/
  /*.codehilite .kn {*/
  /*  color: #f92672 !important;*/
  /*} !* Keyword.Namespace *!*/
  /*.codehilite .kp {*/
  /*  color: #66d9ef !important;*/
  /*} !* Keyword.Pseudo *!*/
  /*.codehilite .kr {*/
  /*  color: #66d9ef !important;*/
  /*} !* Keyword.Reserved *!*/
  /*.codehilite .kt {*/
  /*  color: #66d9ef !important;*/
  /*} !* Keyword.Type *!*/
  /*.codehilite .ld {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.Date *!*/
  /*.codehilite .m {*/
  /*  color: #ae81ff !important;*/
  /*} !* Literal.Number *!*/
  /*.codehilite .s {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String *!*/
  /*.codehilite .na {*/
  /*  color: #a6e22e !important;*/
  /*} !* Name.Attribute *!*/
  /*.codehilite .nb {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name.Builtin *!*/
  /*.codehilite .nc {*/
  /*  color: #a6e22e !important;*/
  /*} !* Name.Class *!*/
  /*.codehilite .no {*/
  /*  color: #66d9ef !important;*/
  /*} !* Name.Constant *!*/
  /*.codehilite .nd {*/
  /*  color: #a6e22e !important;*/
  /*} !* Name.Decorator *!*/
  /*.codehilite .ni {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name.Entity *!*/
  /*.codehilite .ne {*/
  /*  color: #a6e22e !important;*/
  /*} !* Name.Exception *!*/
  /*.codehilite .nf {*/
  /*  color: #a6e22e !important;*/
  /*} !* Name.Function *!*/
  /*.codehilite .nl {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name.Label *!*/
  /*.codehilite .nn {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name.Namespace *!*/
  /*.codehilite .nx {*/
  /*  color: #a6e22e !important;*/
  /*} !* Name.Other *!*/
  /*.codehilite .py {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name.Property *!*/
  /*.codehilite .nt {*/
  /*  color: #f92672 !important;*/
  /*} !* Name.Tag *!*/
  /*.codehilite .nv {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name.Variable *!*/
  /*.codehilite .ow {*/
  /*  color: #f92672 !important;*/
  /*} !* Operator.Word *!*/
  /*.codehilite .w {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Text.Whitespace *!*/
  /*.codehilite .mf {*/
  /*  color: #ae81ff !important;*/
  /*} !* Literal.Number.Float *!*/
  /*.codehilite .mh {*/
  /*  color: #ae81ff !important;*/
  /*} !* Literal.Number.Hex *!*/
  /*.codehilite .mi {*/
  /*  color: #ae81ff !important;*/
  /*} !* Literal.Number.Integer *!*/
  /*.codehilite .mo {*/
  /*  color: #ae81ff !important;*/
  /*} !* Literal.Number.Oct *!*/
  /*.codehilite .sb {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String.Backtick *!*/
  /*.codehilite .sc {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String.Char *!*/
  /*.codehilite .sd {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String.Doc *!*/
  /*.codehilite .s2 {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String.Double *!*/
  /*.codehilite .se {*/
  /*  color: #ae81ff !important;*/
  /*} !* Literal.String.Escape *!*/
  /*.codehilite .sh {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String.Heredoc *!*/
  /*.codehilite .si {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String.Interpol *!*/
  /*.codehilite .sx {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String.Other *!*/
  /*.codehilite .sr {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String.Regex *!*/
  /*.codehilite .s1 {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String.Single *!*/
  /*.codehilite .ss {*/
  /*  color: #e6db74 !important;*/
  /*} !* Literal.String.Symbol *!*/
  /*.codehilite .bp {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name.Builtin.Pseudo *!*/
  /*.codehilite .vc {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name.Variable.Class *!*/
  /*.codehilite .vg {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name.Variable.Global *!*/
  /*.codehilite .vi {*/
  /*  color: #f8f8f2 !important;*/
  /*} !* Name.Variable.Instance *!*/
  /*.codehilite .il {*/
  /*  color: #ae81ff !important;*/
  /*} !* Literal.Number.Integer.Long *!*/
  
  /*.codehilite .gh {*/
  /*} !* Generic Heading & Diff Header *!*/
  /*.codehilite .gu {*/
  /*  color: #8a8f98 !important ;*/
  /*} !* Generic.Subheading & Diff Unified/Comment? *!*/
  /*.codehilite .gd {*/
  /*  color: #f92672 !important ;*/
  /*} !* Generic.Deleted & Diff Deleted *!*/
  /*.codehilite .gi {*/
  /*  color: #a6e22e !important ;*/
  /*} !* Generic.Inserted & Diff Inserted *!*/
  
  /*.md-clipboard:before {*/
  /*  color: rgba(255, 255, 255, 0.31);*/
  /*}*/
  /*.codehilite:hover .md-clipboard:before,*/
  /*.md-typeset .highlight:hover .md-clipboard:before,*/
  /*pre:hover .md-clipboard:before {*/
  /*  color: rgba(255, 255, 255, 0.6);*/
  /*}*/
  
  .md-typeset summary:after {
    color: rgba(255, 255, 255, 0.26);
  }
  
  .md-typeset .admonition.example > .admonition-title,
  .md-typeset .admonition.example > summary,
  .md-typeset details.example > .admonition-title,
  .md-typeset details.example > summary {
    background-color: rgba(154, 109, 255, 0.21);
  }
  
  .md-nav__link[data-md-state='blur'] {
    color: #aec0ff;
  }
  
  /*
  ///////////////
  // Footnote //
  /////////////
  */
  
  .md-typeset .footnote {
    color: #888484 !important;
  }
  
  .md-typeset .footnote-ref:before {
    border-color: #888484 !important;
  }