{% extends "base.html" %}

{% block extrahead %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.canonical_url }}"
        },
        "headline": "{{ page.title | striptags }} - {{ config.site_name }}",
        "image": [
            "https://editor.flotiq.com/fonts/fq-logo.svg"
        ],
        "datePublished": "{% if page and page.meta.revision_date_localized %} {{ page.meta.git_revision_date_localized }} {% endif %}",
        "dateModified": "{% if page and page.meta.revision_date_localized %} {{ page.meta.git_revision_date_localized  }} {% endif %}",
        "author": {
            "@type": "Organization",
            "name": "Flotiq"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Flotiq",
            "logo": {
                "@type": "ImageObject",
                "url": "https://api.flotiq.com/image/1920x0/_media-5dfa4bed252da.png"
            }
        },
        "description": "{% if page and page.meta.description %} {{ page.meta.description }} {% endif %}"
    }
</script>
{% endblock %}

{% block content %}
    {% include "partials/content.html" %}
    <div id="was-it-helpful"></div>
    {% include "partials/integrations/disqus.html" %}
{% endblock %}
